.icon-dropdown {
    margin-top: 40px !important;
}

.icon-dropdown .dropdown-item {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon-dropdown .dropdown-item:hover,
.icon-dropdown .dropdown-item:focus {
    background-color: transparent;
    color: inherit;
}

.icon-grid {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-gap: 5px;
    justify-content: center;
    max-height: 200px;
    overflow-y: auto;
    width: calc(100% - 7px);
}

.icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bs-border-radius);
    cursor: pointer;
    background-color: transparent;
}

.no-bg-no-left-border {
    background-color: var(--bs-body-bg) !important;
    border-left: none !important;
}

.no-right-border {
    border-right: none !important;
}