.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    background-image: url(/background/whitey.png);
}

.loaderImage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
}

.loaderText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    color: #555;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.loaderCredits {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    color: #555;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loaderLogo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.loaderBrand {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.loaderDate {
    font-size: 12px;
    font-weight: 400;
}   

/* On small screens, adapt the credits */
@media screen and (max-width: 576px) {
    .loaderCredits {
        flex-direction: row!important;
    }

    .loaderLogo {
        width: 30px;
        margin-right: 15px;
        margin-bottom: 0px;
    }

    .loaderBrand {
        text-align: left
    }
}