/* Fix for button colors */
.btn:not([class*="btn-outline-"]).btn:not([class*="btn-light"]){
    &,
    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
    }
}

[class*="btn-outline-"] {
    &:hover,
    &:focus,
    &:active {
        color: #fff !important;
    }
}

/* Toast container (fix for toast container relative position...) */
.toast-container {
    position: fixed !important;
    bottom: 20px; /* Ajustez selon le besoin */
    right: 20px; /* Ajustez selon le besoin */
    z-index: 1050; /* Assurez-vous qu'il est au-dessus d'autres éléments */
  }

/* Wrapper */
#wrapper {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-image: url(/background/whitey.png);
    background-repeat: repeat;
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
    #wrapper {
        padding-bottom: 0px !important;
    }
}

/* Root */
#root {
    min-height: 100vh;
    height: 100%;
}

/* Main */
.main {
    background-color: var(--bs-light);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0px !important;
    color: #343434;
    background-color: var(--bs-body-bg);
    font-weight: 400;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: justify;
}

[data-bs-theme="dark"] .main {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .main {
        width: 100%;
        max-width: 100% !important;
        margin: 0 !important;
        border-radius: 0px;
    }
}

/* Links */
.main a {
    text-decoration: none;
}

.main a:hover {
    text-decoration: none;
}

.main footer a {
    color: var(--bs-light) !important;
}

.main footer a:hover {
    color: #fff !important;
}

/* Toast (notification) */
.toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9998;
    padding: 1rem;
}

.toast-body {
    background-color: var(--bs-body-bg) !important;
    border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius) !important;
}

.toast-header {
    background-color: transparent !important;
    border-bottom: none !important;
    color: var(--bs-light) !important;
    font-weight: bold !important;
}

.toast-header .btn-close {
    margin-left: auto !important;
}


/* Custom color theme */
$primary:  #1f78cb;
$secondary: #74899b;
$info: #9760da; 
$warning: #dd8b17;
$danger: #e55353;
$success: #219563;
$light: #e7f3ff;

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";